@use "../../foundation/setting" as *;

main.scraping {
  min-height: 100vh;

  .head-logo {
    margin-bottom: xxl_vw(103);
    width: xxl_vw(312.36);
  }

  .form__wrap {
    .search-img {
      width: xxl_vw(260.33);
    }
      .search_input {
        margin-bottom: xxl_vw(36);
        input{
          display: block;
          width: xxl_vw(500);
          height: xxl_vw(40);
          border: 1px solid #707070;
        }
      }

      .page_txt{
        margin-bottom: xxl_vw(47);
        input{
          width: xxl_vw(100);
          height: xxl_vw(40);
          border: 1px solid #707070;
        }
      }
      .run-img{
        width: xxl_vw(199);
        height: xxl_vw(41);
        margin-bottom: xxl_vw(72);
      }
      .caution{
        margin-bottom: xxl_vw(56);
      }

    .btn_dl {
      width: xxl_vw(330.57);
      margin-bottom: xxl_vw(115);
    }

    .btn_logout {
      width: xxl_vw(124.26);
    }

  }
}

main.login {
  min-height: 100vh;

  .head-logo {
    margin-bottom: xxl_vw(56);

    img {
      width: xxl_vw(312.36);
    }
  }

  .form__wrap {
    .id-img {
      width: xxl_vw(47);
    }

    input {
      width: xxl_vw(300);
      height: xxl_vw(40);
      margin-bottom: 4px;
      border: 1px solid #707070;
    }

    .pw-img {
      width: xxl_vw(126);
    }

    .pw_input {
      margin-bottom: xxl_vw(23);
    }

    .btn {
      width: xxl_vw(200);
    }
  }

}